<h1 class="page-header">Beranda</h1>
<div class="row">
    <div class="col-md-12 col-sm-12">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="widget widget-stats bg-green">
					<div class="stats-icon"><i class="fa fa-newspaper-o"></i></div>
					<div class="stats-info">
						<h4>TOTAL ARTIKEL</h4>
						<p>{total_artikel}</p>	
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="widget widget-stats bg-blue">
					<div class="stats-icon"><i class="fa fa-flag"></i></div>
					<div class="stats-info">
						<h4>TOTAL PANDUAN PENGGUNAAN</h4>
						<p>{total_panduan_penggunaan}</p>	
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 hidden">
				<div class="widget widget-stats bg-red">
					<div class="stats-icon"><i class="fa fa-cc-discover"></i></div>
					<div class="stats-info">
						<h4>TOTAL KODE PROMOSI (AKTIF)</h4>
						<p>{total_promotion_code}</p>	
					</div>
				</div>
			</div>
		</div>
    </div>
</div>