.pdf-viewer{
    min-height: 500px;
    margin-bottom: 20px;
}
.logo-company-platinum{
    position: absolute;
    top: 115px;
    left: 280px;
}
.f-virtual .video-platinum {
    position: absolute;
    top: 325px;
    left: 315px;
    width: 300p;
    height: 100px;
    min-height: 300px !important;
}
.f-virtual .slider-platinum {
    position: absolute;
    top: 289px;
    left: 546px;
    overflow: hidden;
    width: 257px;
    height: 140px;
}
.logo-company a,
.owl-platinum a,
.f-virtual-gold .slider .owl-carousel a,
.f-virtual-silver .slider .owl-carousel a,
.slider-platinum a,
.logo-company-platinum a,
.f-virtual .slider-platinum a,
.f-virtual .video-platinum a {
    display: block;
}
.logo-company-platinum{
    top: 115px;
    left: 280px;
}
.logo-company-platinum .thumbnail{
    position: relative;
    width: 123px;
    height: 102px;
}
.video-platinum a{
    width: 103px;
    height: 56px;
    display: block;
}
.f-virtual-gold .logo-company{
    top: 198px;
    left: 437px;
}
.f-virtual-gold .logo-company a{
    display: block;
    width: 63px;
    height: 40px;
}
.video a{
    width: 103px;
    height: 56px;
    display: block;
}
.item-exhibition img{
    width: 90%;
}
.logo-company .thumbnail img {
    max-width: 100%;
    max-height: 100%;
}
.f-virtual-gold .logo-company {
    top: 200px;
    left: 359px;
}
.f-virtual-gold .video {
    top: 279px;
    left: 449px;
    width: 105px;
    height: 78px;
}
.f-virtual-gold .slider {
    top: 290px;
    left: 611px;
    width: 147px;
    height: 143px;
}
.f-virtual-gold .slider .owl-carousel .owl-item img {
    height: 76px;
    min-width: 150px;
}
.f-login .nav-tabs .nav-link{
    min-width: 100px;
    width: initial;
}
.parsley-errors-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.parsley-errors-list li {
    font-size: 14px;
    font-style: italic;
    color: #ff0000;
}
.swal-text{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: #593011;
    font-weight: 700;
}
.swal-button-container{
    display: block;
    text-align: center;
}
.swal-button-container button{
    background: #593011;
}
#cometchat__widget {
    position: fixed;
}
.css-tjk9j3 {
    width: 120px !important;
    padding: 0 30px;
    border-radius: 5px !important;
    bottom: 0 !important;
}
.css-6qy2ao {
    height: 30px !important;
}
.f-virtual-silver .slider{
    top: 274px;
    left: 529px;
    width: 154px;
    height: 81px;
}
.f-virtual-silver .slider a{
    height: 82px;
}
.f-virtual-silver .video{
    top: 298px;
    left: 463px;
    width: 61px;
    height: 40px;
}
.f-virtual-silver .video a{
    width: 62px;
    height: 34px;
}
.f-virtual-silver .slider .owl-carousel .owl-item img{
    width: 100%;
    height: 81px;
    min-width: 150px;
}
.exhibition-area{
    padding-bottom: 50px;
}
.hidden{
    display: none;
}