<p><strong>Dear Sir / Madam {full_name}, </strong></p>

<p>Please use your account below to login to the website:</p>

<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td>User &amp; nbsp;</td>
			<td>: {email}</td>
		</tr>
		<tr>
			<td>Password</td>
			<td>: {password}</td>
		</tr>
	</tbody>
</table>

<p>The password above is &amp; nbsp; <strong> temporary password </strong>. Please change your password after logging in with the password above. Enter the My Account menu &amp; gt; Change Password.</p>

<p><a href="(base_url]apps/login">Click here </a> &amp; nbsp; to enter.</p>

<p>If you have any questions, please feel free to contact us</p>

<p>Greetings,<br />
BBTF</p>
