<section class=" section section-contact-us">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
          <div class="title-pages ">Tentang Kami</div>

          <p class="">KEMONTAR adalah aplikasi pintar untuk kendaraan motor agar tetap terawat dengan baik.</p>
            <img src="{base_url}asset/images/home/about-us.png" class="img-fluid">
          <div class="title-desc "><strong>Keunggulan KEMONTAR</strong></div>
          <div class="row list-event">
              <div class="col-sm-12 col-md-12">
                  <div class="media ">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/lepi.png"></a>
                      </div>

                      <div class="media-body">
                          <p>- Memudahkan pengguna sepeda motor untuk menjaga kondisi kendaraannya selalu dalam performa terbaik</p>
                      </div>
                  </div>

                  <div class="media ">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/time.png"></a>
                      </div>

                      <div class="media-body">
                          <p>- Memudahkan pengguna sepeda motor untuk mencatat dan menemukan tempat dimana kendaraannya terparkir</p>
                      </div>
                  </div>

                  <div class="media">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/papper.png"></a>
                      </div>

                      <div class="media-body">
                          <p>- Memberikan tempat untuk saling bertukar informasi kepada sesama pengguna sepeda motor</p>
                      </div>
                  </div>

                  <div class="media">
                      <div class="media-left">
                          <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/website.png"></a>
                      </div>

                      <div class="media-body">
                          <p>- Memberikan rekomendasi apa yang harus dirawat pada motor tiap bulannya</p>
                      </div>
                  </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/website.png"></a>
                        </div>

                        <div class="media-body">
                            <p>- Melakukan pencatatan dan laporan pada pengeluaran untuk merawat kendaraan</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#"><img alt="" class="media-object" src="{base_url}asset/img/website.png"></a>
                        </div>

                        <div class="media-body">
                            <p>- Memberikan notifikasi untuk kepentingan perawatan motor</p>
                        </div>
                    </div>

                  <div class="media">&nbsp;</div>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>