<section class="section-home exhibition-list container">
    <div class="list-frame">
        <div class="header">Platinum</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_platinum}
                    <div class="item"><a href="{base_url}exhibitor/platinum/{uri_path}"  title="{name}" data-title="tooltip" data-placement="bottom"><img src="{logo_url}" alt=""></a></div>
                {/list_exhibitor_platinum}
            </div>
        </div>
    </div>
    <div class="list-frame">
        <div class="header">Gold</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_gold}
                    <div class="item"><a href="{base_url}exhibitor/gold/{uri_path}"  title="{name}" data-title="tooltip" data-placement="bottom"><img src="{logo_url}" alt="{name}"></a></div>
                {/list_exhibitor_gold}
            </div>
        </div>
    </div>
    <div class="list-frame">
        <div class="header">Silver</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_silver}
                    <div class="item"><a href="{base_url}exhibitor/silver/{uri_path}"  title="{name}" data-title="tooltip" data-placement="bottom"><img src="{logo_url}" alt="{name}"></a></div>
                {/list_exhibitor_silver}
            </div>
        </div>
    </div>
    
</section>
