<section class="section-home exhibition-list container">
    <div class="list-frame">
        <div class="header">Platinum</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_platinum}
                    <div class="item"><a href="{base_url}exhibitor/platinum/{uri_path}"><img src="{logo_url}" alt=""></a></div>
                {/list_exhibitor_platinum}
            </div>
        </div>
    </div>
    <div class="list-frame">
        <div class="header">Gold</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_gold}
                    <div class="item"><a href="{base_url}exhibitor/gold/{uri_path}"><img src="{logo_url}" alt="{name}"></a></div>
                {/list_exhibitor_gold}
            </div>
        </div>
    </div>
    <div class="list-frame">
        <div class="header">Silver</div>
        <div class="px-5 py-3">
            <div class="owl-carousel owl-theme owl-logo">
                {list_exhibitor_silver}
                    <div class="item"><a href="{base_url}exhibitor/silver/{uri_path}"><img src="{logo_url}" alt="{name}"></a></div>
                {/list_exhibitor_silver}
            </div>
        </div>
    </div>
    
</section>
<div class="chat">
    <div class="position-relative">
        <input type="checkbox" id="chats">
        <label for="chats" class="btn-chat"><img src="{base_url}asset/img/chats.jpg" alt="{name}">Chat</label>
        <div class="list-chats">
            <div class="header">
                Chat With Seller <label for="chats"><i class="bi bi-x"></i></label>
            </div>
            <div class="body">
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
                <a href="#" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </a>
            </div>
        </div>
    </div>
</div>
