<section class="section-home container">
    <div class="exhibition-area">
        <div class="list-exhibition">
            <div class="row">
                {list_exhibitor}
                    <div class="col-12">
                        <div class="item-exhibition">
                            <a href="{base_url}exhibitor/{category_url}/{uri_path}" title="{name}" data-title="tooltip" data-placement="bottom"><img data-src="{logo_url}" class="lazy" alt="{name}"></a>
                        </div>
                    </div>
                {/list_exhibitor}
            </div>
        </div>
        <div class="logo-right">
            <img src="{logo_category_url}">
        </div>
    </div>
</section>
<img src="{base_url}asset/img/bg-exhibition-list.jpg" alt="" class="bg-exhibition-list">