<section class="section-home container">
    <div class="f-virtual">
        <img class="lazy" data-src="{booth_design_url}" alt="{booth_design}" width="100%">
        <div class="lc-left">
            <a href="#" data-toggle="modal" data-title="tooltip" data-placement="bottom" title="Seller Profile" data-target="#compro">
                <div class="thumbnail"><img class="lazy" data-src="{logo_url}" alt="{logo}"></div>
                <div class="bg-brownv">Platinum Seller</div>
            </a>
        </div>
        <div class="logo-company-platinum">
            <a href="#" data-toggle="modal">
                <div class="thumbnail">
                  <img src="{base_url}asset/img/logo.jpg" alt="{logo}" class="invisible">
                </div>
            </a>
        </div>
        <div class="video-platinum">
            <a href="#" data-toggle="modal" title="Product Video" data-title="tooltip" data-placement="bottom" data-target="#modalVideo"><img src="{base_url}asset/img/product-video.jpg" alt="" class="w-100 invisible"></a>
        </div>
        <div class="slider-platinum">
            <div class="owl-carousel owl-theme owl-platinum">
              {list_poster_product}
                <div class="item"><a href="#" data-title="tooltip" data-placement="bottom" title="Product Brochure" data-toggle="modal" data-target="#brochure"><img data-src="{url}" class="lazy" alt=""></a></div>
              {/list_poster_product}
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="compro" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Seller Profile
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {list_company_profile2}
        <a href="{url}" alt="{name}" class="mb-3 mt-0 btn btn-outline-primary btn-sm" target="_BLANK">Download PDF <i class="fa fa-download"></i></a>
          <object data-src="{url}" type="application/pdf" class="w-100 pdf-viewer">
            <iframe data-src="{url}"></iframe>
          </object>
        {/list_company_profile2}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="brochure" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Product Brochure        
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {list_brochure_product2}
          <a href="{url}" alt="{name}" class="mb-3 mt-0 btn btn-outline-primary btn-sm" target="_BLANK">Download Product Brochure <i class="fa fa-download"></i></a>
          <object data-src="{url}" type="application/pdf" class="w-100 pdf-viewer">
            <iframe data-src="{url}"></iframe>
          </object>
        {/list_brochure_product2}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVideo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          {list_video_product}
            <div class="col-md-6 mb-4 list-video">
              <video width="100%" height="205" controls>
                <source data-src="{url}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          {/list_video_product}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var group_logo_url = "{logo_url}";
</script>