<section class="section-home container">
    <div class="exhibition-area">
        <div class="table-exhibition">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                    <td><a href="{base_url}exhibitor/silver/test"><img src="{base_url}asset/img/company-logo-exhibition-area.jpg" alt=""></a></td>
                </tr>
            </table>
        </div>
        <div class="logo-right">
            <img src="{base_url}asset/img/new-icon_silver-table.png">
        </div>
    </div>
</section>

<div class="chat">
    <div class="position-relative">
        <input type="checkbox" id="chats">
        <label for="chats" class="btn-chat"><img src="{base_url}asset/img/chats.jpg" alt="">Chat</label>
        <div class="list-chats">
            <div class="header">
                Chat With Seller <label for="chats"><i class="bi bi-x"></i></label>
            </div>
            <div class="body">
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
            </div>
        </div>
        <input type="checkbox" id="chats-content">
        <div class="chats-content">
            <div class="header">
                Company Name <label for="chats-content"><i class="bi bi-x"></i></label>
            </div>
            <div class="body">
                <div class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="text">
                        <p><span>daf af dsafasdf</span></p>
                        <p><span>daf af dsafasdf adf asdf afd fadfa dfa dfadfasf</span></p>
                        <p><span>daf af dsafasd adf sadf asdfsad fasfdsf</span></p>
                    </div>
                </div>
                <div class="list answer">
                    <div class="text">
                        <p><span>daf af dsafasdf</span></p>
                        <p><span>daf af dsafasdf adf asdf afd</span></p>
                        <p><span>daf af dsafasd adf sadf asdfsad fasfdsf</span></p>
                    </div>
                </div>
            </div>
            <textarea class="form-control" placeholder="Typing..."></textarea>
        </div>
    </div>
</div>
<img src="{base_url}asset/img/bg-exhibition-list.jpg" alt="" class="bg-exhibition-list">
