<section class="hero-area bg-1 text-center overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content-block">
					<h1>KEMONTAR <br><small>Kendaraan Motor Pintar</small></h1>
					<p>KEMONTAR adalah aplikasi pintar untuk kendaraan motor agar tetap terawat dengan baik.</p>
					<a href="{base_url}kemontar-aplikasi.apk" class="btn btn-primary green btn-banner btn-try" style="padding-left: 50px;"><i class="fa fa-android" style="font-size: 28px; position: absolute; margin-left: -30px; margin-top: -5px;">&nbsp;</i>Download Aplikasi</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="hero-area  text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
              <h1 class="what-folio" itemprop="name">

			  Apa itu Kemontar?

			  </h1>
			  

				<div itemprop="description"><p class="teaser-home"><span style="color:rgb(56,56,56);font-family:gotham, helvetica, arial, sans-serif;font-size:16px;line-height:22px;">KEMONTAR adalah aplikasi pintar untuk kendaraan motor agar tetap terawat dengan baik. </p>
					<p>Semakin mudah merawat kendaaraan Anda dengan dengan satu genggaman, mendapatkan informasi cara merawat motor sampai dengan melakukan pencatatan terhadap pengeluaran untuk membantu memantau kesehatan kendaraan Anda hanya di KEMONTAR</p>

				</div>
				<a href="{base_url}kemontar-aplikasi.apk" class="btn btn-primary green btn-banner btn-try">COBA GRATIS SEKARANG</a>
				<div class="clearfix">&nbsp;</div>
				<div class="content-block">
					<img src="{base_url}asset/images/home/banner-app.jpg" class="img-responsive" style="max-width: 100%;">
				</div>
			</div>
		</div>
	</div>
</section>
