<section class="section-home d-flex container">
	<div class="v-exhibition">
		<h4>Welcome To</h4>
		<h2>BBTF Virtual Exhibition</h2>
		<div class="row mt-4">
			{list_exhibitor_category}
				<div class="col-4 text-center">
					<a href="{base_url}exhibition/{uri_path}"><img src="{logo_url}" alt="{name}"></a>
				</div>
			{/list_exhibitor_category}
		</div>
	</div>
</section>
<script defer src="https://widget-js.cometchat.io/v2/cometchatwidget.js"></script>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
	CometChatWidget.init({
		"appID": "33452b15fa9dfb5",
		"appRegion": "us",
	}).then(response => {
		console.log("Initialization completed successfully");
		//You can now call login function.
		CometChatWidget.login({
			"authToken": "superhero1_162118462069ab8a4567aa771f9ac6097eff4cf3"
		}).then(response => {
			CometChatWidget.launch({
				"widgetID": "f32d4159-2271-495f-bdf4-78253d7440b9",
				"docked": "true",
				"alignment": "right", //left or right
				"roundedCorners": "true",
				"height": "450px",
				"width": "400px",
				"defaultID": 'general', //default UID (user) or GUID (group) to show,
				"defaultType": 'group' //user or group
			});
		}, error => {
			console.log("User login failed with error:", error);
			//Check the reason for error and take appropriate action.
		});
	}, error => {
		console.log("Initialization failed with error:", error);
		//Check the reason for error and take appropriate action.
	});
});
</script>
