<section class="section-home container">
    <div class="meeting-schedule px-md-5 pb-4">
        <table cellspacing="0" cellpadding="5" border="0" width="100%">
            <tr>
                <th>DAY/DATE</th>
                <th>PROGRAM</th>
                <th>LINK</th>
            </tr>
            <tr>
                <td colspan="3" class="date">Tue, 8 June 2021</td>
            </tr>
            <tr>
                <td>All Day</td>
                <td>Participant Buyer / Trade Buyer / Media Arrival & Booth Setup</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td colspan="3" class="date">Tue, 9 June 2021</td>
            </tr>
            <tr>
                <td>12.00 - 20.00</td>
                <td>Seller Registration</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>12.00 - 20.00</td>
                <td>Booth Setup for Exhibitor / Seller</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>14.00 - 20.00</td>
                <td>Buyer / Trade Buyer / Media Registration</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>16.00 - 16.30</td>
                <td>Seller Breafing Session</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>16.00 - 16.30</td>
                <td>Buyer Breafing Session</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>16.30 - 17.30</td>
                <td>Seller Meets Buyer Session</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>16.30 - 18.00</td>
                <td>Opening Ceremony & Opening BBTF Press Conference</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td colspan="3" class="date">Tue, 10 June 2021</td>
            </tr>
            <tr>
                <td>10.00 - 12.00</td>
                <td>B2B BBTF TRAVEX</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>12.00 - 13.00</td>
                <td>Hosted Lunch for Buyer & Media Only</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>13.00 - 17.00</td>
                <td>B2B BBTF TRAVEX</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td colspan="3" class="date">Tue, 11 June 2021</td>
            </tr>
            <tr>
                <td>12.00 - 12.00</td>
                <td>B2B BBTF TRAVEX</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>12.00 - 13.00</td>
                <td>Hosted Lunch for Buyer & Media Only</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
            <tr>
                <td>13.00 - 17.00</td>
                <td>B2B BBTF TRAVEX</td>
                <td><a href="meetings.html" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
            </tr>
        </table>
    </div>
</section>

<div class="chat">
    <div class="position-relative">
        <input type="checkbox" id="chats">
        <label for="chats" class="btn-chat"><img src="{base_url}asset/img/chats.jpg" alt="">Chat</label>
        <div class="list-chats">
            <div class="header">
                Chat With Seller <label for="chats"><i class="bi bi-x"></i></label>
            </div>
            <div class="body">
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
                <label for="chats-content" class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="name">Company Name</div>
                </label>
            </div>
        </div>
        <input type="checkbox" id="chats-content">
        <div class="chats-content">
            <div class="header">
                Company Name <label for="chats-content"><i class="bi bi-x"></i></label>
            </div>
            <div class="body">
                <div class="list">
                    <div class="logo thumbnail"><img src="{base_url}asset/img/company-logo.jpg" alt=""></div>
                    <div class="text">
                        <p><span>daf af dsafasdf</span></p>
                        <p><span>daf af dsafasdf adf asdf afd fadfa dfa dfadfasf</span></p>
                        <p><span>daf af dsafasd adf sadf asdfsad fasfdsf</span></p>
                    </div>
                </div>
                <div class="list answer">
                    <div class="text">
                        <p><span>daf af dsafasdf</span></p>
                        <p><span>daf af dsafasdf adf asdf afd</span></p>
                        <p><span>daf af dsafasd adf sadf asdfsad fasfdsf</span></p>
                    </div>
                </div>
            </div>
            <textarea class="form-control" placeholder="Typing..."></textarea>
        </div>
    </div>
</div>