<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<section class="section-home container">
    <div class="meeting-schedule">
        <img src="{base_url}asset/img/meetings-schedule.jpg" alt="" class="w-100">
        <div class="list-date-white">
            <a href="#" class="f-date" data-toggle="modal" title="Meeting Schedule" data-title="tooltip" data-placement="bottom" data-target="#meetingSchedule">
                <div class="img-left">
                    <img src="{base_url}asset/img/meeting-left.png" alt="">
                </div>
                <div class="desc">
                    <div>
                        <span class="month">June</span>
                        <span class="date">10</span>
                    </div>
                </div>
            </a>
            <a href="#" class="f-date" data-toggle="modal" title="Meeting Schedule" data-title="tooltip" data-placement="bottom" data-target="#meetingSchedule">
                <div class="desc">
                    <div>
                        <span class="month">June</span>
                        <span class="date">11</span>
                    </div>
                </div>
                <div class="img-right">
                    <img src="{base_url}asset/img/meeting-right.png" alt="">
                </div>
            </a>
        </div>
        <!-- <div class="list-date">
            <a href="#" class="f-date">
            </a>
            <a href="#" class="f-date">
            </a>
            <a href="#" class="f-date" data-toggle="modal" title="Meeting Schedule" data-title="tooltip" data-placement="bottom" data-target="#meetingSchedule">
                <div>
                    <span class="month">June</span>
                    <span class="date">10</span>
                </div>
            </a>
            <a href="#" class="f-date" data-toggle="modal" title="Meeting Schedule" data-title="tooltip" data-placement="bottom" data-target="#meetingSchedule">
                <div>
                    <span class="month">June</span>
                    <span class="date">11</span>
                </div>
            </a>
            <a href="#" class="f-date">
            </a>
            <a href="#" class="f-date">
            </a>
        </div> -->
    </div>
</section>
<div class="modal fade" id="meetingSchedule" tabindex="-1" aria-labelledby="meetingScheduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="meetingScheduleLabel">Meeting Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="meeting-schedule">
              <table cellspacing="0" cellpadding="5" border="0" width="100%">
                    <tr>
                        <th>DAY/DATE</th>
                        <th>PROGRAM</th>
                        <th>LINK</th>
                    </tr>
                    {list_meeting}
                        <tr>
                            <td colspan="3" class="date">{start_date}</td>
                        </tr>
                        {list_data}
                            <tr>
                                <td>{time}</td>
                                <td>{name}</td>
                                <td><a href="#" title="Join Meeting" data-title="tooltip" data-placement="bottom" onclick="createFrameAndJoinRoom('{meeting_url}');" class="btn btn-primary bg-brown"><i class="fa fa-users mr-1"></i> Join Meeting</a></td>
                            </tr>
                        {/list_data}
                    {/list_meeting}
              </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="overlay-black">
    <a href="#" class="close-iframe"><i class="i bi-x"></i></a>
  </div> -->

<script>
    function createFrameAndJoinRoom(meeting_url) {
        $('#meetingSchedule').modal('hide');
        window.callFrame = window.DailyIframe.createFrame({
            showFullscreenButton: true,
            showLeaveButton: true,
            showParticipantsBar: true,
            iframeStyle: {
                position: 'fixed',
                border: '1px solid black',
                width: '800px',
                height: '500px',
            }
        });
        callFrame.join({ url: meeting_url});
    }
</script>
<style>
    iframe {
        top: 157px !important;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .overlay-black {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        background: rgba(0,0,0,.5);
    }
    .close-iframe {
        color: #fff;
        position: fixed;
        top: 0;
        right: 15px;
        font-size: 42px;
    }
    .close-iframe:hover {
        color: #fff;
    }
</style>