<h1 class="page-header">{page_name}</h1>

<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <div class="panel-heading-btn"></div>

                <h4 class="panel-title">{judul} - Motor</h4>
            </div>

            <div class="panel-body">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="row-fluid">
                        <div class="col-sm-12 text-right"><a class="btn btn-primary insert update  tangan" id="save"><i class="fa fa-save"></i> {proses}</a>
                            <a class="btn btn-warning tangan" href="{this_controller}"><i class="fa fa-arrow-left"></i> Back</a></div>
                    </div>

                    <div class="clear-fix"></div>

                    <div class="col-sm-12 col-lg-9 col-md-12">
                        <form action="{this_controller}proses/{id}" class="form-horizontal" id="form1">
                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Merek <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <select class="form-control" data-parsley-required="true" id="id_motor_merek" name="id_motor_merek" required="true">{list_motor_merek}</select>
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Jenis <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <select class="form-control" data-parsley-required="true" id="id_motor_jenis" name="id_motor_jenis" required="true">{list_motor_jenis}</select>
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Tipe <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <select class="form-control" data-parsley-required="true" id="id_motor_tipe" name="id_motor_tipe" required="true">{list_motor_tipe}</select>
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Model <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <select class="form-control" data-parsley-required="true" id="id_motor_model" name="id_motor_model" required="true">{list_motor_model}</select>
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Nama <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <input class="form-control" data-parsley-required="true" id="title" name="name" type="text" value="{name}" />
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">URL <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <input class="form-control" data-parsley-required="true" id="uri_path" name="uri_path" type="text" value="{uri_path}" />
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Image</label>

                                <div class="col-md-9">{img}</div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Teaser <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <textarea class="form-control" data-parsley-required="true" id="teaser" name="teaser" rows="4">{teaser}</textarea>
                                </div>
                            </div>

                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Content<i class="req">*</i></label>

                                <div class="col-md-9">
                                    <textarea class="form-control ckeditor" data-parsley-required="true" id="page_content" rows="4">{page_content}</textarea>
                                </div>
                            </div>
                            <br />
                            
                            <!-- Penambahan input status publish -->
                            <div class="form-group  no-margin">
                                <label class="col-md-3 control-label">Status <i class="req">*</i></label>

                                <div class="col-md-9">
                                    <select class="form-control" data-parsley-required="true" id="id_status_publish" name="id_status_publish">{list_status_publish}</select>
                                </div>
                            </div>
                            <hr>
                            <div class="well row">
                                <h4>Spesifikasi Motor</h4>
                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Tahun Pembuatan<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="tahun_pembuatan" name="tahun_pembuatan" type="text" data-parsley-type="number" value="{tahun_pembuatan}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Tipe Mesin<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="tipe_mesin" name="tipe_mesin" type="text" value="{tipe_mesin}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Jumlah Silinder<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="jumlah_silinder" name="jumlah_silinder" type="text" data-parsley-type="number" value="{jumlah_silinder}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Kapasitas Mesin<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input class="form-control" data-parsley-required="true" id="kapasitas_mesin" name="kapasitas_mesin" type="text" data-parsley-type="number" value="{kapasitas_mesin}" />
                                                <div class="input-group-addon">cc</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Torsi Maksimum<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input class="form-control" data-parsley-required="true" id="torsi_maksimum" name="torsi_maksimum" type="text" data-parsley-type="number" value="{torsi_maksimum}" />
                                                <div class="input-group-addon">Nm</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Sistem Starter<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="sistem_starter" name="sistem_starter" type="text" value="{sistem_starter}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Aki<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="aki" name="aki" type="text" value="{aki}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Bahan Bakar<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="bahan_bakar" name="bahan_bakar" type="text" value="{bahan_bakar}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Kapasitas Oli Mesin<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input class="form-control" data-parsley-required="true" id="kapasitas_oli_mesin" aria-describedby="basic-addon2" name="kapasitas_oli_mesin" type="text" data-parsley-type="number" value="{kapasitas_oli_mesin}" />                                               
                                                <div class="input-group-addon">Liter</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Kapasitas Tanki Bensin<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input class="form-control" data-parsley-required="true" id="kapasitas_tanki_bensin" aria-describedby="basic-addon2" name="kapasitas_tanki_bensin" type="text" data-parsley-type="number" value="{kapasitas_tanki_bensin}" />                                               
                                                <div class="input-group-addon">Liter</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Ban Depan<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="ban_depan" name="ban_depan" type="text" value="{ban_depan}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Ban Belakang<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="ban_belakang" name="ban_belakang" type="text" value="{ban_belakang}" />
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Rem Depan<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="rem_depan" name="rem_depan" type="text" value="{rem_depan}" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  no-margin">
                                        <label class="col-md-5 control-label">Rem Belakang<i class="req">*</i></label>
        
                                        <div class="col-md-7">
                                            <input class="form-control" data-parsley-required="true" id="rem_belakang" name="rem_belakang" type="text" value="{rem_belakang}" />
                                        </div>
                                    </div>
                                </div>

                                

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>{imagemanager_config}</p>