{followup}
	<li class="media media-sm well">
		<a href="javascript:;" class="pull-left">
			<img src="{followup_profile_img}" alt="" class="media-object image" />
		</a>
		<div class="media-body">
			<a href="javascript:;"><h4 class="media-heading">{followup_full_name} <small><label class="label label-info {is_admin_display}">{is_admin}</label></small>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus-followup action-form-icon" id='{followup_id}' data-url-rm='del_followup'></a></h4></a>
			<i class="fa fa-clock-o fa-fw">&nbsp;</i> {followup_create_date}
			<br>
			<br>
			<p class="m-b-5">
				{followup_content}
			</p>
			

		</div>
	</li>
{/followup}