<h1 class="page-header">{page_name}</h1>
<div class="row">
	<!-- begin col-12 -->
	<div class="col-md-12">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
			    <div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			    </div>
			    <h4 class="panel-title">{page_name}</h4>
			</div>
			<div class="panel-body">
				<div class="row-fluid">
					<div class="span12 text-right">
						<a class="btn btn-warning tangan" href='{this_controller}'><i class="fa fa-arrow-left"></i> Back</a>
					</div>
				</div>
				<div class="clear-fix">&nbsp;</div>
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="wrapper">
                        <h3 class="m-b-15 m-t-0 p-b-10 underline">{title}</h3>
                        <ul class="media-list underline m-b-20 p-b-15">
                            <li class="media media-sm clearfix">
                                <a href="javascript:;" class="pull-left">
                                    <img class="media-object rounded-corner" alt="" src="assets/img/user-14.jpg">
                                </a>
                                <div class="media-body">
                                    <span class="email-from text-inverse f-w-600">
                                        {full_name} <a href="mailto:{email}">({email})</a><br>
                                    </span>
									<span class="email-to">
										Telepon: {phone}<br>
										Kategori: {forum_category}<br>
										Status: <label class="label label-primary">{status_publish}</label><br>
										Tanggal: {create_date}
                                    </span>
                                </div>
                            </li>
						</ul>
                        <ul class="attached-document clearfix">
							{list_files}
								<li>
	                                <div class="document-name"><a href="{files_link}" target="_BLANK">{files_name}</a></div>
	                                <div class="document-file">
	                                    <a href="#">
	                                        <i class="fa fa-file-text-o"></i>
	                                    </a>
	                                </div>
	                            </li>
							{/list_files}
                        </ul>
                        {description}
                    </div>
                </div>
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="wrapper">
                		<h3>Komentar</h3>
                		<hr>
						<ul class="media-list media-list-with-divider" id="data-followup">
						</ul>
	                </div>
                </div>
				<div class="col-sm-12 col-lg-12 col-md-12 ">
					<div class="wrapper ">
						<div class="well">
						<form action='{this_controller}proses_followup/{id}' class="form-horizontal" method='post' id='form1' autocomplete="off">
		                    <div class="form-group  no-margin">
								<label class="col-md-2 control-label">Komentar <i class='req'>*</i></label>
								<div class="col-md-9"><textarea name="content" rows="4" id="content" class="form-control "></textarea></div>
							</div>
		                    <div class="form-group  no-margin">
		                        <label class="col-md-2 control-label"> </label>
		                        <div class="col-md-9">
		                            <a class="btn btn-primary insert_data" id="save_followup" data-back="view/{id}">Kirim</a>
		                        </div>
		                    </div>
		                </form>
                    </div>
                    </div>
	            </div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		get_data_followup();
		setInterval(function(){ 
			$.ajax({
				url 		: this_controller+"get_data_followup_count/{id}",
				type 		: 'GET',
				success		: function(msg){
					msg = jQuery.parseJSON(msg);
					if(msg.total_followup > $('#data-followup > li').length){
						get_data_followup();
					}
				}
			})

		}, 5000);
	});
	function get_data_followup(){
		$('#data-followup').html("Loading...");
		$.ajax({
			url 		: this_controller+"get_data_followup/{id}",
			type 		: 'GET',
			success		: function(msg){
				$('#data-followup').html(msg);
			}
		})
	}
	$('#save_followup').click(function(){
		loading();
		if ($('#form1').parsley().validate()) {
			$.ajax({
				url         : $('#form1').attr('action'),
				type        : "POST",
				dataType	: 'json',
				data        : $('#form1').serialize(),
				error		: function () {
					loadingcomplete();
				},
				success     : function(ret){
					if (ret.error==1) {
						$.gritter.add({title:page_name,text:ret.message});
						$('#save-schedule').modal('hide')
						loadingcomplete();
					}
					else{
						get_data_followup();
						clear_form_elements('#form1');
						loadingcomplete();
					}
				}
			})
		} else {
			loadingcomplete();
		}
		return false;
	});
	$(document).on('click','.hapus-followup',function(){
		var idx = $(this).attr('id');
		var link = $(this).attr('data-url-rm');
		var base_link = $(this).attr('data-base-url');
		var text = ($(this).attr('data-text')) ? $(this).attr('data-text') : "Hapus Data ?";
		if(confirm(text)){
			loading();
			$.ajax({
				url 		: this_controller+link,
				data 		: 'iddel='+ idx,
				type 		: 'POST',
				success		: function(msg){
				    $.gritter.add({title:page_name,text:'Data berhasil dihapus'});
				    get_data_followup();
				    loadingcomplete();
				}
			})
		}
		event.preventDefault();
	})
</script>
