<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1140">
  <title>{page_name} - {app_name}</title>
  
  <link rel="stylesheet" href="{base_url}asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="{base_url}asset/css/bootstrap-icons.css">
  <link rel="stylesheet" href="{base_url}asset/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{base_url}asset/css/style.css">
  <link rel="stylesheet" href="{base_url}asset/css/custom.css">

  <script src="https://kit.fontawesome.com/6f62d3d090.js" crossorigin="anonymous"></script>

  {css_file}

  <!-- FAVICON -->
  <link href="{base_url}asset/img/logo.png" type="image/x-icon"  rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var base_url = '{base_url}';
    var current_url = '{current_url}';
  </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6E4D0SCDW3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6E4D0SCDW3');
    </script>
</head>
<body>
  <header class="container">
      <div class="top-header">
          <a href="{base_url}" class="logo">
              <img src="{base_url}asset/img/logo.jpg" alt="">
          </a>
          <div class="socmed">
              <a href="https://www.facebook.com/BaliBeyondTravelFair/" target="_BLANK"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/bbtfindonesia/" target="_BLANK"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/BBTFIndonesia" target="_BLANK"><i class="bi bi-twitter"></i></a>
              <a href="https://www.youtube.com/channel/UC5r6RGkUYRCgw9BjmkvDzaA?view_as=subscriber" target="_BLANK"><i class="bi bi-youtube"></i></a>
          </div>
          </div>
      </div>
      <nav class="navbar navbar-expand-md navbar-bbtf bg-brownv">
          <a class="navbar-brand {active_home}" href="{base_url}"><i class="bi bi-house-fill"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMenu">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.bbtf.or.id/" target="_blank">Back to Main Website</a>
                  </li>
                  <li class="nav-item dropdown {active_exhibition}">
                      <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exhibition Area</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{base_url}exhibition/platinum">Platinum</a>
                        <a class="dropdown-item" href="{base_url}exhibition/gold">Gold</a>
                        <a class="dropdown-item" href="{base_url}exhibition/silver">Silver</a>
                      </div>
                  </li>
                  <li class="nav-item {active_exhibitor}">
                      <a class="nav-link" href="{base_url}exhibitor">Exhibitor List</a>
                  </li>
                  <li class="nav-item {active_meeting_schedule}">
                      <a class="nav-link" href="{base_url}meeting-room">Meeting Room</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item {show_logout}">
                      <a class="nav-link" href="{base_url}login/logout">Logout</a>
                  </li>
                </ul>
          </div>
      </nav>
  </header>

  {content}

  <script src="{base_url}asset/js/jquery-3.5.1.slim.min.js"></script>
  <script src="{base_url}asset/js/bootstrap.bundle.min.js"></script>
  <script src="{base_url}asset/js/owl.carousel.min.js"></script>
  <script src="{base_url}asset/js/moment-with-locales.js"></script>
  <script src="{base_url}asset/js/jquery.lazy.min.js"></script>
  <script src="{base_url}asset/plugins/sweetalert/sweetalert.min.js"></script>
  <script src="{base_url}asset/js/custom.js"></script>
  {js_file}

    <style>
        .app__launcher{
            color: #fef7ed;
            background: #593011;
            /* font-size: 20px; */
            border-radius: 10px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: ease all .2s;
        }
        .app__launcher{
            margin-bottom: 15px;
        }
    </style>
    <script defer src="https://widget-js.cometchat.io/v3/cometchatwidget.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@cometchat-pro/chat@3.0.0-beta5/CometChat.js"></script>
    <script>
        const GUID = '{base64_guid}';
        const GROUP_NAME = '{group_name}';
        const ADMIN_NAME = '{admin_name}';
        const GENERAL = '{general}';
        const UID = '{base64_user_email}';
        const USERNAME = '{user_full_name}';
        const AVATAR = '{user_avatar}';
        const appID = '{cometchat_appid}';
        const appRegion = 'us';
        const authKey = '{comethat_authKey}';
    </script>
    <script type="text/javascript" src="{cometchat-js}"></script>
</body>

</html>



