<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{page_name} - {app_name}</title>
  
  <link rel="stylesheet" href="{base_url}asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="{base_url}asset/css/bootstrap-icons.css">
  <link rel="stylesheet" href="{base_url}asset/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{base_url}asset/css/style.css">
  <link rel="stylesheet" href="{base_url}asset/css/custom.css">

  <script src="https://kit.fontawesome.com/6f62d3d090.js" crossorigin="anonymous"></script>

  {css_file}

  <!-- FAVICON -->
  <link href="{base_url}asset/img/logo.png" type="image/x-icon"  rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var base_url = '{base_url}';
    var current_url = '{current_url}';
  </script>
</head>
<body>
  <header class="container">
      <div class="top-header">
          <a href="{base_url}" class="logo">
              <img src="{base_url}/asset/img/logo.jpg" alt="">
          </a>
          <div class="socmed">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-envelope"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
          </div>
          </div>
      </div>
      <nav class="navbar navbar-expand-md navbar-bbtf bg-brownv">
          <a class="navbar-brand {active_home}" href="{base_url}"><i class="bi bi-house-fill"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMenu">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="https://www.bbtf.or.id/" target="_blank">Back to Main Website</a>
                  </li>
                  <li class="nav-item dropdown {active_exhibition}">
                      <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exhibition Area</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{base_url}exhibition/platinum">Platinum</a>
                        <a class="dropdown-item" href="{base_url}exhibition/gold">Gold</a>
                        <a class="dropdown-item" href="{base_url}exhibition/silver">Silver</a>
                      </div>
                  </li>
                  <li class="nav-item {active_exhibitor}">
                      <a class="nav-link" href="{base_url}exhibitor">Exhibitor List</a>
                  </li>
                  <li class="nav-item {active_meeting_schedule}">
                      <a class="nav-link" href="{base_url}meeting-room">Meeting Room</a>
                  </li>
                    <li class="nav-item {show_logout} pull-right">
                        <a class="nav-link" href="{base_url}login/logout">Logout</a>
                    </li>
              </ul>
          </div>
      </nav>
  </header>

  {content}

  <script src="{base_url}asset/js/jquery-3.5.1.slim.min.js"></script>
  <script src="{base_url}asset/js/bootstrap.bundle.min.js"></script>
  <script src="{base_url}asset/js/owl.carousel.min.js"></script>
  <script src="{base_url}asset/js/custom.js"></script>
  <script src="{base_url}asset/js/sweetalert.min.js"></script>
  {js_file}

    <style>
        .launcher__wrapper{
            color: #fef7ed;
            background: #593011;
            /* font-size: 20px; */
            border-radius: 10px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: ease all .2s;
        }
    </style>
    <script defer src="https://widget-js.cometchat.io/v2/cometchatwidget.js"></script>
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        CometChatWidget.init({
            "appID": "33452b15fa9dfb5",
            "appRegion": "us",
            "authKey": "94793f70f1691d2ab8d1509a3db20c6346ac093b"
        }).then(response => {
            const UID = '{base64_user_email}';
            const USERNAME = '{user_full_name}';
            CometChatWidget.createOrUpdateUser({
                uid: UID,
                name: USERNAME,
            }).then((user) => {
                CometChatWidget.login({
                    uid: UID,
                }).then((loggedInUser) => {
                    CometChatWidget.launch({
                        "widgetID": "f32d4159-2271-495f-bdf4-78253d7440b9",
                        "docked": "true",
                        "alignment": "right", //left or right
                        "roundedCorners": "true",
                        "height": "450px",
                        "width": "400px",
                        "defaultID": 'general', //default UID (user) or GUID (group) to show,
                        "defaultType": 'group' //user or group
				});
			}, error => {
				console.log("User login failed with error:", error);
				//Check the reason for error and take appropriate action.
			});
		});
	}, error => {
		console.log("Initialization failed with error:", error);
		//Check the reason for error and take appropriate action.
	});
});
</script>
</body>

</html>



