{data}
	<tr>
		<td class="center">{nomor}</td>
		<td class="center">{name}</td>
		<td class="center" id="room_name" data-datetime_start="{start_date} 00:00" data-room_name="{room_name}">{meeting_url}<br><span class="status_ongoing"><i class="dot-offline"> </i> Offline</span></td>
		<td class="center">{schedule_date}</td>
		<td class="center">{start_time}</td>
		<td class="center">{end_time}</td>
		<td class="center">{exhibitor_name}</td>
		<td class="center">{list_participants}</td>
		<td class="center">{status_publish}</td>
		<td class="center">
			<a href="{this_controller}add/{id}" title="Edit Data" class="fa fa-pencil-square-o tangan action-form-icon"></a>
			<a title="Delete Data" class="fa fa-trash-o tangan hapus action-form-icon" id='{id}' data-url-rm='del'></a>
		</td>
	</tr>
{/data}
<tr class="footer">
	<td colspan="12">{paging}</td>
</tr>
<script>
	$('#grid1 table tbody > tr').each(function(i, obj) {
		var id_room_name = $(this).find('#room_name');
		var id_status_ongoing = id_room_name.find('.status_ongoing');
		var room_name = id_room_name.attr("data-room_name");
		var datetime_start = convert_to_timestamp(id_room_name.attr("data-datetime_start"));
		if(room_name){
			$.ajax({
				url         : 'https://api.daily.co/v1/meetings?room='+room_name,
				type        : "GET",
				dataType	: 'json',
				headers: {
					"Accept": 'application/json',
					"Authorization": 'Bearer {token_dailyco}'
				},
				error		: function (ret) {

				},
				success     : function(ret){
					if(ret.total_count > 0){
						console.log(ret);
						if(ret.data[0]){
							console.log(ret.data[0].start_time);
							if(ret.data[0].ongoing){
								id_status_ongoing.html('<i class="dot-online"> </i> Ongoing');
							} else {
							// } else if(ret.data[0].start_time >= datetime_start) {
								id_status_ongoing.html('<i class="dot-finish"> </i> Selesai');
							}
						}
					}
				}
			})	
		}
	});

	function convert_to_timestamp(dateString){
		// var dateString = '17-09-2013 10:08',
		if(dateString){
			var dateTimeParts = dateString.split(' '),
				timeParts = dateTimeParts[1].split(':'),
				dateParts = dateTimeParts[0].split('-'),
				date;
			date = new Date(dateParts[2], parseInt(dateParts[1], 10) - 1, dateParts[0], timeParts[0], timeParts[1]);
			return date.getTime();
		} else {
			return "";
		}
	}
</script>